Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /projetos/press/

# Reescreva URLs amigáveis
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ rotas.php?url=$1 [QSA,L]
RewriteRule ^noticias$ /noticias.php [L]
RewriteRule ^add-noticias$ /add-noticias.php [L]
RewriteRule ^editar-noticias/([a-zA-Z-0-9-_]+)$ editar-noticias.php?id=$1 [QSA,L]
RewriteRule ^noticias/([a-zA-Z-0-9-_]+)/([a-zA-Z-0-9-_]+)/([a-zA-Z-0-9-_]+)$ noticias.php?acao=excluirPost&id=$1&foto=$2 [QSA,L]