Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /painel/

# Reescreva URLs amigáveis
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ rotas.php?url=$1 [QSA,L]