.bg-primary{
    background-color: #cda557 !important;
}
.btn-primary {
    color: #fff;
    background-color: #cda557;
    border-color: #cda557;
}
.bg-dark {
    background-color: #6c4904!important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #6c4904;
    border-color: #6c4904;
}

a{
    color: #cda557;
}